*{

}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
.sec-1{
    
}
.div-1 h1{
    font-size:;
}
.div-1 p{
    font-size:20px;
    color:gray;
}
.menu{
    margin-right:5%;
}
.menu nav{

}
.menu nav ul{
    float:right;
    list-style-type:none;
}
.menu nav ul li{
    display:inline-block;
}
.menu nav ul li a{
    text-decoration:none;
    float:left;
    display:block;
    padding:10px 10px;
    color:#3C3C3C;
    font-weight:bold;
    font-size:18px;
}
.div-1{
    width:40%;
    margin-top:5%;
    margin-left:5%;
    padding-left:2%;
    float:left;
}
.div-1 h1{
    font-size:40px;
}
.div-1 .color-1{
    color:orange;
}
.div-1 a{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-color: #F96C61;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}
.div-1 img{
    width:100%;
}
.sec-2{
    height:500px;
}
.sec-3{
    height:500px;
    display:block;
}
.div-3{
    margin-left:5%;
    padding-left:2%;
    width:40%;
    float:left;
}
.div-3 h1{
    font-size: 35px;
    font-weight: bold;
    margin-top: 120px;
}
.div-3 p{
    font-size: 16px;
    color:gray;
    margin-bottom: 25px;
}
.div-3 a{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-color: #F96C61;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}
.div-3 img{
    width:100%;
}
.sec-4{
    height:500px;
    display:inline-block;
    background-color: #F8F9FC;
    margin-top: 40px;
}
.work-project h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.main-part{
    overflow: hidden;
    margin-top:5%;
    margin-left:15%;
    padding-left:2%;
}
.part{
    width:26%;
    height:95%;
    margin-right:30px;
    padding:20px;
    float:left;
    background-color: #FFFFFF;
    border-radius:10px;
    box-shadow: 10px 10px 36px grey;
    margin-bottom:140px;
}
.part img{
    width: 75%;
    height: 51%;
    margin-left: 50px;
}
.part h2{

}
.part p{
    font-size: 18px;
    color:gray;
    text-align:justify;
}
.color-2{
    color:orange;
}
.sec-5{
    height:200px;
    display:block;
}
.chat{
    background-image: url(images/Group_33094_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 550px;
    border-radius: 10px;
    margin: 0 auto;
    
}
.chat h2{
    margin-left: 5%;
    padding-top: 35px;
    color:white;
    font-weight:bold;
}
.chat a{
    float: right;
    text-decoration: none;
    margin-right: 5%;
    color: white;
    background: orange;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    margin-top: -45px;
}
.sec-6{}
.div-4{
    text-align:center;
}
.div-4 h3{
    font-size:13px;
    color:gray;
}
.div-4 h1{
    font-size:30px;
    margin-top:5px;
}
.div-4 ul{
    list-style-type:none;
}
.div-4 ul li{
    display:inline;
}
.div-4 ul li img{
    width:50px;
    height:50px;
    margin-right:2%;
}